.tittle-text{
    font: normal bold 31px/53px var(--Roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

.button{ 
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var(--Roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button{
    background: var(--graident-color);
    background-clip: border-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--graident-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

.button.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.button.secondary-button:hover{
    background: var(--graident-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--Roboto);
}